/* html style */
html {
  font-size: 16px !important
}

/* Header styles */
header {
  background-color: #0b3173; 
  background-image: linear-gradient(to bottom right, 	#0b3173,	#4d7cc2);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Top Right Close button */
.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  position: relative;
}

.close-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}

.close-icon::before,
.close-icon::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  transform-origin: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-icon::before {
  transform: translateY(-50%) rotate(45deg);
}

.close-icon::after {
  transform: translateY(-50%) rotate(-45deg);
}

.close-button:hover .close-icon::before,
.close-button:hover .close-icon::after {
  background-color: #00ccff;
}

.close-button:hover .close-icon::before {
  transform: translateY(-50%) rotate(225deg);
}

.close-button:hover .close-icon::after {
  transform: translateY(-50%) rotate(-225deg);
}


/* Body Style */
body {
      width: 450px; 
      height: 400px; 
      background-color: #F6F6F6;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      line-height: 1.6;
      color: #333;
      align-items: center;
      justify-content: center;
    } 
    
    .search-div{
      max-width: 450px;
      margin: 0 auto;
      padding: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
    .container {
      max-width: 425px;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }



/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    }
    
    h1 {
    font-size: 26px;
    }
    
    h2 {
    margin-top: 0px;
    font-size: 22px;
    margin-right: 10px;
    display: inline-block;
    }
    
    h3 {
    font-size: 18px;
    }
    
/* paragraphs */
p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
a {
    color: #1e418a;
    text-decoration: none;
    animation-delay: 5s;
  }

/* Read more button */
@keyframes unhideLink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a.more-link { 
  opacity: 0;
  animation: unhideLink 0.5s linear 0.25s forwards;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 10px;
  background-color: #1e418a;
  border-radius: 5px; 
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

a.more-link:hover {
  text-decoration: none;
  background-color: #666;
  border-radius: 0px;
}

/* article image */
img { 
  display: inline-block;
  vertical-align: middle;
  width: 100px; 
  height: auto;
  margin-left: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Search bar */
form {
  color: #4b4b4b;
  display: flex;
  width: 225px;
  padding: 2px;
  border: 2px solid currentColor;
  border-radius: 10px;
  margin: 0px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 45px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
